<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body style="background-color: #ffcccc; text-align: center;">
        <h1 style="font-family: Impact, Charcoal, sans-serif; color: white; ">Finstagram</h1>
        <h2  style="color: #333333; ">Hello, {{ username }}!</h2>
        {% with messages=get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h2>{{ message }}</h2>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div>
            <a href="/images">View Images</a></br>
            <a href="/showPosts">See posts shared with you</a></br>
            <a href="/uploader">Upload an Image</a></br>
            <a href="/createGroup">Create a new Friend Group</a></br>
            <a href="/addFriend">Add a Friend to group</a></br>
            <a href="/follow">Follow Someone</a></br>
            <a href="/unfollow">Unfollow someone</a></br>
            <a href="/tag">Tag a friend</a></br>
            <a href="/manageRequests">Manage your requests</a></br>
            <a href="/searchTag">Search by Tag</a></br>
            <a href="/searchPoster">Search by Poster</a></br>
            <a href="/logout">Logout</a></br>


        </div>
    </body>
</html>
