<html>
    <head>
        <title>Finstagram</title>
    </head>
<body>
    <h1>Here are your posts:</h1>

<table>
	<th>Owner</th>
	<th>Time</th>
    <th>Caption</th>
     <th>Image</th>
{% for line in myposts %}
	<tr>
        <td>{{line.photoOwner}}</td>
		<td>{{line.timestamp}}</td>
        <td>{{line.caption}}</td>
        <td><img src="/image/{{line.filePath}}" width="100"/></td>

	</tr>
{% endfor %}

</table>

<h1>Here are your group posts:</h1>

<table>
	<th>Owner</th>
	<th>Time</th>
    <th>Caption</th>
     <th>Image</th>
{% for line in groupposts %}
	<tr>
        <td>{{line.photoOwner}}</td>
		<td>{{line.timestamp}}</td>
        <td>{{line.caption}}</td>
        <td><img src="/image/{{line.filePath}}" width="100"/></td>

	</tr>
{% endfor %}

</table>

        <h1>Here are posts by those you follow:</h1>

<table>
	<th>Owner</th>
	<th>Time</th>
    <th>Caption</th>
     <th>Image</th>
{% for line in followposts %}
	<tr>
        <td>{{line.photoOwner}}</td>
		<td>{{line.timestamp}}</td>
        <td>{{line.caption}}</td>
        <td><img src="/image/{{line.filePath}}" width="100"/></td>

	</tr>
{% endfor %}

</table>
        <a href="/">Go back</a>
</body>
</html>
